@{
    ViewData["Title"] = "DonateConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header--form-page">
    @await Html.PartialAsync("_LayoutNav")
    <div class="slogan container container--90">
        <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
        </h2>
    </div>
</header>